@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

html
{
    overflow-y: scroll;
}que

html, body
{
    height: 100%;
    margin: 0; padding: 0;
}

body
{
    width: 100%;
    display: table;
    font-family: "Verdana", sans-serif;
    /*background-position: absolute;*/  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207cca+0,207cca+24,1e5799+51,1e5799+51,207cca+74,207cca+100 */
    background: rgb(32,124,202); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(32,124,202,1) 0%, rgba(32,124,202,1) 24%, rgba(30,87,153,1) 51%, rgba(30,87,153,1) 51%, rgba(32,124,202,1) 74%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 24%,rgba(30,87,153,1) 51%,rgba(30,87,153,1) 51%,rgba(32,124,202,1) 74%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(32,124,202,1) 0%,rgba(32,124,202,1) 24%,rgba(30,87,153,1) 51%,rgba(30,87,153,1) 51%,rgba(32,124,202,1) 74%,rgba(32,124,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

.logo_base
{
    height: 50px;
}

.boite_logos
{
    margin-top: 20px;
    margin-left: 10px;
}

.button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #4CAF50; /* Green */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    color: #4CAF50; /* Green */
    background-color: white;
}

.grand_titre 
{
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    /*font-family: Impact, Charcoal, sans-serif;*/
}

header
{
    /*background-color: #646464;*/
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*width: 100%;*/
    margin-bottom: 20px;
    margin-top: 10px;
}

div
{
    text-align: center;
}

footer
{
    /*position: fixed;
    left:0;
    bottom:0;*/
    color: #ffffff;
    background-color: #333;
    height:30px;
    width:100%;
    display : table-row;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav
{
    width: 100%;
}

nav ul
{
    list-style-type: none;
    margin-top: 20;
    margin-bottom: 30;
    padding: 0;
    overflow: auto;
    background-color: #333;
    overflow: 
}

nav ul li 
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    float: left;
    display: inline;
    width: 100px auto;
}

nav ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover
{
    color: #4CAF50; /* Green */
    background-color: white;
}

form
{
    margin-left: 5%;
    margin-right: 5%;
    /*text-align: center;*/
}

.center-on-page
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Reset Select */
select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4CAF50;
    background-image: none;
}

/* Custom Select */
.select
{
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #4CAF50;
    overflow: hidden;
    border-radius: .25em;
}

select
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

select::-ms-expand
{
    display: none;
}

/* Arrow */
.select::after
{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #4CAF50;
    pointer-events: none;
}

/* Transition */
.select:hover::after
{
    color: #f39c12;
}

.select::after
{
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

form input,
form span,
form label,
form textarea
{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
}

form textarea:focus,
form input:focus
{
    outline: 0;
}

/* Question */

form input.question,
form textarea.question
{
    font-size: 40px; /* taille de l'input box, pas du label qui est dessus */
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

form input.question + label,
form textarea.question + label
{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

form input.question:focus + label,
form textarea.question:focus + label
{
    width: 80%;
}

form input.question:focus,
form input.question:valid
{
    padding-top: 35px;
}

form textarea.question:valid,
form textarea.question:focus
{
    margin-top: 35px;
}

form input.question:focus + label > span,
form input.question:valid + label > span
{
    top: -100px;
    font-size: 22px;
    color: #ffffff;
}

form textarea.question:focus + label > span,
form textarea.question:valid + label > span
{
    top: -150px;
    font-size: 22px;
    color: #ffffff;
}

form input.question:valid + label,
form textarea.question:valid + label
{
    border-color: white;
}

form input.question:invalid,
form textarea.question:invalid
{
    box-shadow: none;
}

form input.question + label > span,
form textarea.question + label > span
{
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #FFFFFF;
    font-size: 35px; /* taille des labels dans les forms */
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

form input[type="submit"]
{
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover
{
    background: #EEE;
}

form input[type="submit"]:active
{
    background: #999;
}

form input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"]
{
    /*-webkit-animation: appear 1s forwards;*/
    animation: appear 1s forwards;
}

form input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"]
{
    display: none;
}

@-webkit-keyframes appear
{
    100%
    {
        opacity: 1;
    }
}

@keyframes appear
{
    100%
    {
        opacity: 1;
    }
}


.conteneur_colonne /* DISPOSITION EN COLONNE */
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.conteneur_ligne /* DISPOSITION EN COLONNE */
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

#infos
{
    text-align: left;
    color: #ffffff;
    margin-left: 37%; /* aligné avec la timeline */
}

.container
{
    text-align: center;
}

.container ul
{
    margin: 20px;
    margin-top: 100px;
    margin-left: 37%; /* pour que la timeline soit au milieu dans en plein écran 16:9; */
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 13px;
    text-align:left;
}
.container ul:before
{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #fff;
}
.container ul li
{
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2); /* on peut changer ça aussi (couleur des box dans la timeline) */
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child)
{
    margin-top: 60px;
}
.container ul li > span
{
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
}
.container ul li > span:before, .container ul li > span:after
{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7; /* peut-être à changer aussi */
    left: -5px;
    top: 0;
}
.container ul li span:after
{
    top: 100%;
}
.container ul li > div
{
    margin-left: 10px;
}
.container div .title, .container div .type
{
    font-weight: 600;
    font-size: 12px;
}
.container div .info
{
    font-weight: 300;
}
.container div > div
{
    margin-top: 5px;
}
.container span.number
{
    height: 100%;
}
.container span.number span
{
    position: absolute;
    font-size: 10px;
    left: -90px;
    font-weight: bold;
}
.container span.number span:first-child
{
    top: 0;
}
.container span.number span:last-child
{
    top: 100%;
}
#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}